<header>

    <div class="header-principal">

        <div class="header-logo">
            <img src="/images/logos/Logo (01).png" alt="">
        </div>

        <div class="header-nav">
            <menu>
                <a>Inicio</a>
                <a>Nosotros</a>
                <a>Nuestra tienda</a>
                <a>Blog</a>
                <a>Contacto</a>
            </menu>
        </div>

        <div class="header-actions"></div>

    </div>

    @if (headerMini) {

        <div class="header-mini">

            <span class="promo-texto">S/ 10.00 de descuento en toda la tienda. Solo por hoy ¡No te lo pierdas!</span>

            <div class="contador">

                <div class="contador-bloque">
                    <span class="contador-valor">{{ horas }}</span>
                    <!-- <span class="contador-label">horas</span> -->
                </div>

                <span class="contador-separador">:</span>

                <div class="contador-bloque">
                    <span class="contador-valor">{{ minutos }}</span>
                    <!-- <span class="contador-label">min</span> -->
                </div>

                <span class="contador-separador">:</span>

                <div class="contador-bloque">
                    <span class="contador-valor">{{ segundos }}</span>
                    <!-- <span class="contador-label">seg</span> -->
                </div>

            </div>

        </div>

    }

</header>

