<footer>

    <div class="footer-container">

        <div class="content">

            <div class="footer-logo">
                <img src="/images/logos/Logo (01).png" alt="bloomery logo">
            </div>

            <div class="footer-grid">

                <div class="">

                    <div class="footer-network">

                        <h3>Redes Sociales</h3>

                        <a href="https://www.facebook.com/bloomery" target="_blank" rel="noopener noreferrer">
                            <ng-icon name="tablerBrandFacebook"></ng-icon>
                            <i class="fab fa-facebook-f">Facebook</i>
                        </a>

                        <a href="https://www.instagram.com/bloomery" target="_blank" rel="noopener noreferrer">
                            <ng-icon name="tablerBrandInstagram"></ng-icon>
                            <i class="fab fa-instagram">Instagram</i>
                        </a>

                        <a href="https://www.tiktok.com/@bloomery" target="_blank" rel="noopener noreferrer">
                            <ng-icon name="tablerBrandTiktok"></ng-icon>
                            <i class="fab fa-tiktok">TikTok</i>
                        </a>

                        <a href="https://www.twitter.com/bloomery" target="_blank" rel="noopener noreferrer">
                            <ng-icon name="tablerBrandTwitter"></ng-icon>
                            <i class="fab fa-twitter">Twitter</i>
                        </a>

                    </div>

                    <div class="footer-desc">
                        <h3>Sobre nosotros</h3>
                        <p>Conoce a los fundadores</p>
                    </div>

                </div>

                <div class=""> 

                    <div class="footer-horarios">
                        <h3>Horarios de Atención</h3>
                        <p>Lunes a Viernes: 8:00 am - 10:00 pm</p>
                        <p>Sábados: 08:00 am - 8:00 pm</p>
                        <p>Domingos: 10:00 am - 8:00 pm</p>
                        <p>Feriados: Sin atención</p>
                    </div>

                    <div class="footer-pagos">
                        <h3>Métodos de Pago</h3>
                        <p>Efectivo</p>
                        <p>Transferencia Bancaria</p>
                        <p>Yape</p>
                        <p>Plin</p>
                    </div>

                </div>

                <div class="">

                    <div class="footer-categorias">
                        <h3>Categorías</h3>
                        <a>Plantas de Interiores</a>
                        <a>Plantas de Exteriores</a>
                        <a>Decoraciones y Macetas</a>
                        <a>Arreglos Fúnebres</a>
                    </div>

                    <div class="footer-favoritos">
                        <h3>Favoritos</h3>
                        <a>Aglonema</a>
                        <a>Boa Neón</a>
                        <a>Galán de Noche</a>
                        <a>Lengua de Suegra</a>
                    </div>

                </div>

                <div class="">

                    <div class="footer-politicas">
                        <h3>Atención al Cliente</h3>
                        <a>Contacto</a>
                        <a>Preguntas Frecuentes</a>
                        <a>Seguimiento de Pedidos</a>
                        <a>Únete a Nosotros</a>
                    </div>

                    <div class="footer-politicas">
                        <h3>Políticas</h3>
                        <a>Política de Privacidad</a>
                        <a>Política de Delivery</a>
                        <a>Términos y Condiciones</a>
                        <a>Libro de Reclamaciones</a>
                    </div>
                    
                </div>

            </div> 

        </div>

    </div>

    <div class="footer-copyright">

        <p>&copy; {{ anno }} Bloomery. Todos los derechos reservados.</p>

    </div>

</footer>