

<div class="banner">

    <div class="slider-track" [style.transform]="'translateX(-' + currentIndex() * 100 + '%)'">
        @for (item of banners; track $index) {
        <div class="slide">
            <a [href]="item.url" target="_blank">
                <img [src]="item.imageUrl" alt="banner" />
            </a>
        </div>
        }
    </div>

    <button class="btn prev" (click)="prev()">&#10094;</button>
    <button class="btn next" (click)="next()">&#10095;</button>

    <div class="dots">
        @for (item of banners; track $index; let i = $index) {
        <span class="dot" [class.active]="i === currentIndex()" (click)="currentIndex.set(i)"></span>
        }
    </div>

</div>


<div class="categorias" id="categorias" #categoriasContainer>

    <div class="bloque-titulo">
        <h3>Categorías</h3>
    </div>

    <div class="categorias-opciones">

        @for (item of categorias; track $index; let i = $index) {

        <div class="categoria" [class.active]="i === selectedCategoriaIndex()" (click)="onCategoriaClick(i)">
            <div class="portada" [style.background-image]="'url(' + item.imageUrl + ')'"> </div>
            <h3>{{item.name}}</h3>
        </div>

        }

        <!-- @for (item of categorias; track $index; let i = $index) {
            <div class="categoria" [class.active]="i === selectedCategoriaIndex()" (click)="onCategoriaClick(i)">
                <div class="portada" [style.background-image]="'url(' + item.imageUrl + ')'"> </div>
                <h3>{{item.name}}</h3>
                <p>Ver categoría</p>
            </div>
        } -->

    </div>

</div>


<div class="container" id="productos" #productosContainer>

    <!-- <p>&nbsp;</p> -->
    <p>&#8203;</p>

    <div class="bloque-titulo">
        <h3>{{ selectedCategoria().name }}</h3>
        <p>{{ selectedCategoria().description }}</p>
    </div>


    <div class="productos-grid">

        @for (producto of selectedCategoria().productos; track $index) {

        <article class="producto-card">

            <div class="producto-imagen">

                @if (producto.discount && precio) {

                <div class="producto-descuento">
                    <span>-{{ producto.discount }}%</span>
                </div>

                }

                <img [src]="producto.imageUrl" [alt]="producto.name" />

            </div>

            <div class="producto-card-separador"></div>

            <div class="producto-detalle">

                <h4>{{ producto.name }}</h4>

                @if (producto.wateringLevel) {

                <div class="producto-riego">

                    @for (item of [].constructor(producto.wateringLevel); track $index) {
                    <span class="gota"></span>
                    <!-- <span class="gota">💧</span> -->
                    }

                </div>

                }

                @if (precio) {

                <div class="producto-precio">

                    @if (producto.discount) {

                    <p>S/ {{ producto.price - (producto.price * producto.discount / 100) | number:'1.2-2' }}</p>
                    <p class="producto-precio-original">S/ {{ producto.price | number:'1.2-2' }}</p>

                    } @else {

                    <p>S/ {{ producto.price | number: '1.2-2' }}</p>

                    }

                </div>

                }

                <div class="producto-botones">

                    <a [href]="getWhatsAppUrl(producto.name)" target="_blank" rel="noopener noreferrer"
                        class="producto-boton producto-consultar">
                        <p>Consultar</p>
                    </a>

                    <div class="producto-boton producto-detalles">
                        <p>Detalles</p>
                    </div>

                </div>

            </div>

        </article>

        }

    </div>

</div>


<section class="simulador" id="simulador-combinacion">

    <div class="bloque-titulo">
        <h3>Simulador de Combinación</h3>
        <p>Elige una planta y una maceta para visualizar cómo quedaría el conjunto.</p>
    </div>

    <div class="simulador-contenido">

        <div class="simulador-controles">

            <div class="simulador-control">
                <label for="plantaSelect">Planta</label>
                <select id="plantaSelect" [value]="selectedPlantaIndex()" (change)="onPlantaSelect($event)">
                    @for (planta of plantasSimulador; track $index; let i = $index) {
                    <option [value]="i">{{ planta.name }}</option>
                    }
                </select>
            </div>

            <div class="simulador-control">
                <label for="macetaSelect">Maceta</label>
                <select id="macetaSelect" [value]="selectedMacetaIndex()" (change)="onMacetaSelect($event)">
                    @for (maceta of macetasSimulador; track $index; let i = $index) {
                    <option [value]="i">{{ maceta.name }}</option>
                    }
                </select>
            </div>

        </div>

        <div class="simulador-preview">

            <div class="simulador-lienzo">

                @if (selectedPlanta(); as planta) {
                <img class="simulador-planta" [src]="planta.imageUrl" [alt]="planta.name" />
                }

                <img class="simulador-maceta" [src]="selectedMaceta().imageUrl" [alt]="selectedMaceta().name" />

            </div>

        </div>

    </div>

</section>


<div class="pop-up">


</div>


<div class="boton-flotante boton-flotante_regresar" (click)="scrollToTop()">
  <ng-icon name="tablerCircleArrowUp" class="tabler-icon" aria-hidden="true" size="25"></ng-icon>
</div>

<div class="boton-flotante boton-flotante_modo-noche"
    (click)="toggleDarkMode()"
    [attr.aria-pressed]="isDarkMode()"
    [attr.aria-label]="isDarkMode() ? 'Cambiar a modo dia' : 'Cambiar a modo noche'"
>
    @if (isDarkMode()) {
      <ng-icon name="tablerSun" class="tabler-icon" aria-hidden="true" size="25"></ng-icon>
    } @else {
      <ng-icon name="tablerMoon" class="tabler-icon" aria-hidden="true" size="25"></ng-icon>
    }
</div>


