<header>
    <h1>Bloomery Flower</h1>
</header>


<div class="mini-header">
    <p>Ofertas exclusivas por el dia de hoy! 25% desc.</p>
</div>


<menu>
    <a>Inicio</a>
    <a>Nuestra tienda</a>
    <a>Ofertas</a>
    <a>Contacto</a>
</menu>


<div class="banner">

    <div class="slider-track" [style.transform]="'translateX(-' + currentIndex() * 100 + '%)'">
        @for (item of banners; track $index) {
        <div class="slide">
            <a [href]="item.url" target="_blank">
                <img [src]="item.imageUrl" alt="banner" />
            </a>
        </div>
        }
    </div>

    <button class="btn prev" (click)="prev()">&#10094;</button>
    <button class="btn next" (click)="next()">&#10095;</button>

    <div class="dots">
        @for (item of banners; track $index; let i = $index) {
        <span class="dot" [class.active]="i === currentIndex()" (click)="currentIndex.set(i)"></span>
        }
    </div>

</div>


<div class="categorias">

    <h3>Categorías</h3>

    <div class="">

        <div class="categoria">
            <div class="portada"></div>
            <h3>Plantas de Interiores</h3>
            <p>Ver categoría</p>
        </div>

        <div class="categoria">
            <div class="portada"></div>
            <h3>Plantas de Exteriores</h3>
            <p>Ver categoría</p>
        </div>

        <div class="categoria">
            <div class="portada"></div>
            <h3>Decoración y Macetas</h3>
            <p>Ver categoría</p>
        </div>

        <div class="categoria">
            <div class="portada"></div>
            <h3>Arreglos Funebres</h3>
            <p>Ver categoría</p>
        </div>

    </div>

</div>


<div class="container">

</div>