<header>
    <h1>Website</h1>
</header>


<div class="mini-header">
    <p>Ofertas exclusivas por el dia de hoy! 25% desc.</p>
</div>


<menu>
    <a>Inicio</a>
    <a>Nuestra tienda</a>
    <a>Ofertas</a>
    <a>Contacto</a>
</menu>


<div class="banner">

    <div class="slider-track" [style.transform]="'translateX(-' + currentIndex() * 100 + '%)'">
        @for (item of banners; track $index) {
        <div class="slide">
            <a [href]="item.url" target="_blank">
                <img [src]="item.imageUrl" alt="banner" />
            </a>
        </div>
        }
    </div>

    <button class="btn prev" (click)="prev()">&#10094;</button>
    <button class="btn next" (click)="next()">&#10095;</button>

    <div class="dots">
        @for (item of banners; track $index; let i = $index) {
        <span class="dot" [class.active]="i === currentIndex()" (click)="currentIndex.set(i)"></span>
        }
    </div>

</div>


<div class="categorias">

    <h3>Categorías</h3>

    <div class="">

        @for (item of categorias; track $index; let i = $index) {
            <div class="categoria" [class.active]="i === selectedCategoriaIndex()" (click)="onCategoriaClick(i)">
                <div class="portada" [style.background-image]="'url(' + item.imageUrl + ')'"> </div>
                <h3>{{item.name}}</h3>
                <p>Ver categoría</p>
            </div>
        }

    </div>

</div>


<div class="container" id="interiores" #interioresContainer>

    <h3>{{ selectedCategoria().name }}</h3>

    <div class="interiores-grid">
        @for (interior of selectedCategoria().interiores; track $index) {
            <article class="interior-card">
                <img [src]="interior.imageUrl" [alt]="interior.name" />
                <h4>{{ interior.name }}</h4>
                <p>{{ interior.price }}</p>
            </article>
        }
    </div>

</div>